/*Standard Colors:
#E2655B - Red Color for menu and jumbotron text
#85D5FF - Accents e.g. 'Come With Us' button*/

/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*Body Stye Info*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

/*Heading Info*/
.header {
  margin: 0;
}

.menu {
    background-color: #E2655B;
    overflow: hidden;
    opacity: 0.9;
    width: calc(50% - 50px);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    font-family: 'Oswald', sans-serif;
}

.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    width: calc(50% - 28px);
    text-transform: uppercase;
}

.menu a:hover {
    background-color: #F2756B;
    color: black;
}

.menu a.active {
    background-color: #4CAF50;
    color: white;
}

.menu-logo {
  left: calc(50% - 50px);
  height: 100px;
  width: 100px;
  position: fixed;
  background-color: #E2655B;
  opacity: 0.9;
}
.menu-logo:hover {
  background-color: #F2756B;
}

#menu-left {
  left: 0;
}

#menu-right {
  right: 0;
}

/*Body Header*/
#jumbotron {
  background-image: url('images/jumbotron.JPG');
  height: calc(100vh - 200px);
  padding: 200px 0 0 85px;
  color: #E2655B;
}

#jumbotron h1 {
  margin: 0;
  font-size: 3em;
  font-family: 'Oswald', sans-serif;
}

#jumbotron h2 {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
}

/*Info windows, sections and card*/
.info-window {
  width: 100%;
  height: calc(100vh - 24px);
}

.info-window h1 {
  padding: 12px;
}

.info-section-2, .info-section {
  width: calc(50% - 24px);
  padding: 12px;
  float: left;
}

/*Generic classes*/
.background {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.minitron {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 116px);
  padding: 108px 8px 8px 8px;
  color: #E2655B;
}

.minitron h1 {
  text-align: center;
  font-size: 3em;
}

.gallery {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

#ministry {
  height: 100vh;
  background-color: #E2655B;
  padding: 10px;
}

#ministry h1 {
  text-align: center;
  margin: 0;
}
