/*Body Stye Info*/
body {
  margin: 0;
  padding: 0;
  height: 100%
}

/*Heading Info*/
.header {
  margin: 0;
}

.menu {
    background-color: #E2655B;
    overflow: hidden;
    opacity: 0.9;
    width: calc(50% - 50px);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
}

.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    width: calc(50% - 28px);
    text-transform: uppercase;
}

.menu a:hover {
    background-color: #F2756B;
    color: black;
}

.menu a.active {
    background-color: #4CAF50;
    color: white;
}

#menu-left {
  left: 0;
}

#menu-right {
  right: 0;
}

/*Body Header*/
#jumbotron {
  background-image: url('images/jumbotron.JPG');
  height: calc(100vh - 150px);
  padding: 150px 0 0 85px;
  color: #E2655B;
}

#jumbotron h1 {
  margin: 0;
}

#jumbotron h2 {
  margin: 0;
}

/*Generic classes*/
.background {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
